img {
   margin-left: 200px;
}

nav {
   display: flex;
   justify-content: space-around;
   margin-left: 400px;
   width: 1000px;
   position: absolute;
   padding-bottom: 20px;
}

a:link {
   color: black;
}

a:hover {
   color: #5cb2e0
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}