

nav {
   display: flex;
   justify-content: space-around;
   margin-left: 400px;
   width: 1000px;
   position: absolute;
   bottom: 20px;
}

a:link {
   color: black;
}

a:hover {
   color: #f3a95f
}

a:active {
   color: black;
}

a:visited {
   color: #f3a95f;
}