body {
   background: rgb(167,210,247);
   background: linear-gradient(146deg, rgba(167,210,247,1) 0%, rgba(255,255,255,1) 31%) no-repeat;
}

.item {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 20px;
}

p {
   flex-shrink: 6; 
   padding-left: 20px;
   font-family: 'Baskerville', sans-serif;
   font-size: 18px;
}

img {
   margin-left: 200px;
}

nav {
   display: flex;
   justify-content: space-around;
   margin-left: 400px;
   width: 1000px;
   position: absolute;
   padding-bottom: 20px;
}

a:link {
   color: black;
}

a:hover {
   color: #5cb2e0;
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}