body {
   background: rgb(247,172,172);
   background: linear-gradient(146deg, rgba(247,172,172,1) 0%, rgba(250,199,199,1) 9%, rgba(255,255,255,1) 31%) no-repeat; 
   height: 100vh;
}

h2 {
   margin-left: 40px;
   padding: 20px 20px 20px 0px;
   font-size: 22px;
}

div {
   width: 340px;
   padding: 16px 50px 16px 20px;
   margin-left: 60px;
   background-color: #f3a95f;
   font-family: 'Baskerville', sans-serif;
   font-size: 18px;
}

p {
   margin-left: 40px;
   font-family: 'Baskerville', sans-serif;
   font-size: 18px;
}

nav {
   display: flex;
   justify-content: space-around;
   margin-left: 400px;
   width: 1000px;
   position: absolute;
   bottom: 20px;
}

main > p {
   padding: 15px 10px 20px 10px;
}

a:link {
   color: black;
}

a:hover {
   color: #5cb2e0
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}