h2 {
   margin-left: 40px;
   padding: 20px 20px 20px 0px;
   font-size: 22px;
}

div {
   width: 340px;
   padding: 16px 50px 16px 20px;
   margin-left: 60px;
   background-color: #f3a95f;
}

p {
   margin-left: 40px;
}