main {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   width: 1200px;
   padding: 20px;
}

img {
   padding: 20px;
}

figcaption {
   position: relative;
   float: right;
   width: 200px;
   margin: 20px;
}

a:link {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #5cb2e0
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}

#menu {
   display: flex;
   justify-content: space-around;
   margin-left: 310px;
   width: 1000px;
}