body {
   background: rgb(228,192,139);
   background: linear-gradient(146deg, rgba(228,192,139,1) 0%, rgba(255,255,255,1) 31%) no-repeat; 
}

main {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   width: 1200px;
   padding: 20px;
}

img {
   padding: 20px;
}

figcaption {
   position: relative;
   float: right;
   width: 200px;
   margin: 20px;
   font-family: 'Baskerville', sans-serif;
   font-size: 18px;
}

a:link {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #5cb2e0
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}

#menu {
   display: flex;
   justify-content: space-around;
   margin-left: 310px;
   width: 1000px;
   position: absolute;
   padding: 0px;
   padding-left: 40px;
   margin-top: -22px;
   font-size: 16px;
}