main {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   width: 1200px;
   padding: 20px;
}

img {
   padding: 20px;
}

figcaption {
   position: relative;
   float: right;
   width: 200px;
   margin: 20px;
}