body {
   background: rgb(228,192,139);
   background: linear-gradient(146deg, rgba(228,192,139,1) 0%, rgba(255,255,255,1) 31%) no-repeat; 
}

nav {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 1600px;
   text-align: center;
   padding: 20px;
   padding-bottom: 0px;
}

img {
   width: 100%;
}

div > h2 {
   position: absolute;
   align-items: center;
   margin-top: -277px;
   padding: 32px 22px 14px 22px; 
   background-color: rgba(255, 255, 255, .8);
   width: 300px;
   height: 50px;
   font-size: 4rem;
   margin-left: 200px;
}

a:link {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #5cb2e0
}

a:active {
   color: black;
}

a:visited {
   color: #5cb2e0;
}

#menu {
   display: flex;
   justify-content: space-around;
   margin-left: 310px;
   width: 1000px;
   position: absolute;
   padding-bottom: 20px;
}