body {
   background: rgb(177,144,217);
   background: linear-gradient(146deg, rgba(177,144,217,1) 0%, rgba(218,202,237,1) 9%, rgba(255,255,255,1) 31%) no-repeat; 
}

nav {
   position: relative;
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 20px;
}

div > h2 {
   position: absolute;
   margin-left: 642px;
   padding-top: 28px;
   background-color: rgba(255, 255, 255, .8);
   width: 300px;
   height: 50px;
   opacity: 0;
   transition: 350ms;
   font-size: 4rem;
}

.item-a > h2 {
   bottom: 800px;
}

.item-b > h2 {
   bottom: 1400px;
}

.item-c > h2 {
   bottom: 200px;
}

div:hover > h2 {
   opacity: 1;
}

a:link {
   color: black;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a:visited {
   color: black;
   text-decoration: none;
}