body {
   font-family: 'Merriweather', serif;
   font-size: 16px;
   margin: 0px 20px 20px 20px;
   line-height: 24px;
}

header {
   font-weight: bold;
   font-size: 26px;
   padding: 20px 0px 20px 20px;
}


span {
   padding-left: 20px;
   font-size: 16px;
}
