body {
   font-family: 'Merriweather', serif;
   font-size: 16px;
   margin: 20px;
   line-height: 24px;
}

header {
   font-weight: bold;
   font-size: 26px;
   margin-left: 120px;
   padding-left: 20px;
   padding-bottom: 20px;
}

nav {
   position: relative;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.item > h2 {
   position: absolute;
   margin-left: 800px;
}